.position-right {
  float: right;
  margin: 20px 20px 20px 0;
}

.position-left {
  padding-left: 20px;
}

.nav-link {
  cursor: pointer;
}

.icon-clear {
  padding-right: 5px;
}

.filter {
  padding-bottom: 20px;
}

.toggle-filter {
  cursor: pointer;
  font-size: 1.2em;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  opacity: 1;
  padding: 10px;
}